html.openmenu{
    pointer-events: none;
    overflow: hidden !important;
    height: 100% !important;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
/*fixed IOS*/
html.openmenu body{
    height: 100% !important;
    position: relative;
    overflow: hidden !important;
    margin-top: 0 !important;
}
html.openmenu2{
    pointer-events: none;
    overflow: hidden !important;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
/*fixed IOS*/
html.openmenu2 body{
    position: relative;
    overflow: hidden !important;
    margin-top: 0 !important;
}
/*======================================================================*/
/*================================ICON==================================*/
/*======================================================================*/
.menu_mobile .icon {
    width: 50px;
    height: 60px;
    cursor: pointer;
    color: #ffffff;
    background: #006e8e;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    pointer-events: auto;
    position: relative;
}
.menu_mobile .icon:before,
.menu_mobile .icon:after {
    content: "";
    width: 30px;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #ffffff;
    position: absolute;
    -webkit-transition: transform 0.2s linear, top 0.2s linear 0.3s;
    -o-transition: transform 0.2s linear, top 0.2s linear 0.3s;
    transition: transform 0.2s linear, top 0.2s linear 0.3s;
}
.menu_mobile.showmenu .icon:before,
.menu_mobile.showmenu .icon:after{
    -webkit-transition: transform 0.2s linear 0.3s, top 0.2s linear;
    -o-transition: transform 0.2s linear 0.3s, top 0.2s linear;
    transition: transform 0.2s linear 0.3s, top 0.2s linear;
}
.menu_mobile .icon:before{
    top: 21px;
}
.menu_mobile .icon:after {
    top: 36px;
}
.menu_mobile.showmenu .icon:before{
    top: 27px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}
.menu_mobile.showmenu .icon:after {
    top: 28px;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
}
.menu_mobile .icon .style_icon{
    content: "";
    width: 30px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.menu_mobile.showmenu .icon .style_icon{
    opacity: 0;
    visibility: hidden;
}
/*======================================================================*/
/*=============================CONTENT==================================*/
/*======================================================================*/
.menu_mobile .divmm {
    position: fixed;
    width: 100%;
    top: 60px;
    left: 0;
    bottom: 0;
    visibility: hidden;
    text-align: left;
    z-index: 50;
}
.menu_mobile .divmm .mmContent {
    width: 100%;
    height: 100%;
    margin: 0 0 0 auto;
    position: relative;
    top: 0;
    right: 0;
    z-index: 60;
    -webkit-transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    transform: translate(100%, 0%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-y: auto;
    pointer-events: none;
    border-top: solid 1px rgb(0, 110, 142);
}
.menu_mobile .divmm .mmContent.no-over{
    overflow-y:hidden;
}
.menu_mobile .divmm .divmmbg {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    z-index: 51;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    pointer-events: auto;
}
.menu_mobile .divmm.show .divmmbg {
    opacity: 1;
    visibility: visible;
}
/*======================================================================*/
/*======================MENU LOAI 1=====================================*/
/*======================================================================*/
.mmMenu {
    pointer-events: auto;
    max-height: 100%;
    overflow-y: auto;
    padding: 15px;
}
.mmMenu::-webkit-scrollbar {
    height: 6px;
    width:4px;
    background: rgba(255,255,255,0.15);
    padding:3px;
}
.mmMenu::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.35);
  outline: 1px solid black;
}
.mmMain{
    margin-bottom: 25px;
}
.mmMenu>ul>li{
    overflow: hidden;
    border-bottom: dashed 1px rgba(255,255,255,0.15);
}
.mmMenu>ul>li:last-child{
    border-bottom:none;
}
.mmMenu>ul>li>a,
.mmMenu>ul>li>.m-sub>a {
    display: block;
    padding: 13px 0px;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    text-transform: uppercase;
}
.mmMenu>ul>li:hover>a,
.mmMenu>ul>li:hover>.m-sub>a{
    color: #f8a02a;
}
.mmMenu>ul>li>.m-sub{
    position: relative;
}
.mmMenu>ul>li>.m-sub>.button-submenu{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 26px;
    line-height: 34px;
    color:#666666;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.mmMenu>ul>li>.m-sub>.button-submenu:before{
    content: "\f105";
    font-family: fontAwesome;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.mmMenu>ul>li>.m-sub>.button-submenu.show:before{
    content: "\f107";
}
.mmMenu>ul>li:hover>.m-sub>.button-submenu{
    color:#ffffff;
}
/*=====LEVEL 2=====*/
.mmMenu>ul>li>ul{
    position: relative;
    z-index: 1;
    /* background: #ffffff36; */
}
.mmMenu>ul>li>ul>li>a,
.mmMenu>ul>li>ul>li>.m-sub>a {
    display: block;
    padding: 14px 15px;
    padding-left: 15px;
    color: #c9c8c8;
}
.mmMenu>ul>li>ul>li:hover>a,
.mmMenu>ul>li>ul>li:hover>.m-sub>a {
    color: #ffffff;
}
.mmMenu>ul>li>ul>li{
    border-top: dashed 1px rgba(255, 255, 255, 0.15);
}
.mmMenu>ul>li>ul>li>.m-sub{
    position: relative;
}
.mmMenu>ul>li>ul>li>.m-sub>.button-submenu{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 26px;
    line-height: 34px;
    color:#666666;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.mmMenu>ul>li>ul>li>.m-sub>.button-submenu:before{
    content: "\f105";
    font-family: fontAwesome;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.mmMenu>ul>li>ul>li>.m-sub>.button-submenu.show:before{
    content: "\f107";
}
/*====LEVEL 3====*/
.mmMenu>ul>li>ul>li>ul{
    position: relative;
    z-index: 1;
}
.mmMenu>ul>li>ul>li>ul>li>a,
.mmMenu>ul>li>ul>li>ul>li>.m-sub>a {
    display: block;
    padding: 14px 15px;
    padding-left: 30px;
    color: #c9c8c8;
}
.mmMenu>ul>li>ul>li>ul>li{
    border-top: dashed 1px rgba(255, 255, 255, 0.15);
}
.mmMenu>ul>li>ul>li>ul>li:hover>a,
.mmMenu>ul>li>ul>li>ul>li:hover>.m-sub>a {
    color: #ffffff;
}
/*======================================================================*/
/*======================MENU LOAI 2=====================================*/
/*======================================================================*/
.menu_mobile.menu_2 .mmMenu ul.mmMain li ul{
    display: none;
}
.mmMenu .m-ab {
    position: fixed;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 61;
    overflow-y: auto;
    -webkit-transition: opacity 0.5s ease , visibility 0.5s ease , transform 0.5s ease;
    -moz-transition: opacity 0.5s ease , visibility 0.5s ease , transform 0.5s ease;
    -o-transition: opacity 0.5s ease , visibility 0.5s ease , transform 0.5s ease;
    transition: opacity 0.5s ease , visibility 0.5s ease , transform 0.5s ease;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
    border-left: 1px solid rgba(0,0,0,0.1);
    opacity: 0;
    visibility: hidden;
}
.mmMenu .m-ab.active{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}
.mmMenu .m-ab .m-ab-title a{
    display: block;
    padding: 14px 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.mmMenu .m-ab .m-ab-title {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.mmMenu .m-ab .m-ab-arrow a{
    display: block;
    padding: 14px 20px;
    text-transform: none;
    background: #000000;
    color:#ffffff;
    text-transform: uppercase;
}
.mmMenu .m-ab li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.mmMenu .m-ab li a {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    padding: 13px 20px;
    padding-left: 40px;
    position: relative;
    font-weight: normal;
}
.mmMenu .m-ab li a:before{
    position: absolute;
    font-family: fontawesome;
    content: '\f0da';
    left:20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mmMenu .m-ab li:hover a{
    color:#ff0000;
}
.mmMenu .m-ab li .m-sub{
    position: relative;
}
.mmMenu .m-ab li .button-submenu{
    position: absolute;
    right:0;
    top: 0;
    width: 50px;
    height: 50px;
    border-left: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}
.mmMenu .m-ab li .button-submenu:before{
    content: "\f105";
    font-family: fontAwesome;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.mmMenu .m-ab ul ul{
    display: none;
}
/*======================================================================*/
/*===========================MENU SHOW LEFT=============================*/
/*======================================================================*/
.menu_mobile.show_left .divmm .mmContent {
    padding-left: 0;
    padding-right: 50px;
    margin: 0 auto 0 0;
    direction: rtl;
    -webkit-transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    transform: translate(-100%, 0%);
}
.menu_mobile.show_left .divmm .mmContent .mmMenu .m-ab {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    border-right: 1px solid rgba(0,0,0,0.1);
    left: 0;
    right: 50px;
}
.menu_mobile.show_left .divmm.show .mmContent .close-mmenu,
.menu_mobile.show_left .divmm .mmContent .close-mmenu{
    left: auto;
    right: 0;
}
.menu_mobile.show_left .divmm .mmContent .mmMenu .m-ab.active{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.menu_mobile .divmm.show {
    visibility: visible;
}
.menu_mobile .divmm.show .mmContent {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}
.menu_mobile .divmm.show .mmContent .close-mmenu {
    left: 0;
    top: 0;
    opacity: 1;
}
/*======================================================================*/
/*===========================CLOSE MENU=================================*/
/*======================================================================*/
.menu_mobile .divmm .mmContent .close-mmenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    color: #333333;
    background: #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    opacity: 0;
    pointer-events: auto;
    text-align: center;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
}
.menu_mobile .divmm .mmContent .close-mmenu i{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/*======================================================================*/
/*===========================ADDON======================================*/
/*======================================================================*/
.mmLanguage{
    margin-bottom: 0;
}
.mmLanguage ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mmLanguage ul li{
    margin-right: 15px;
}
.mmLanguage ul li:last-child{
    margin-right: 0;
}
.mmLanguage ul li a{
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    width: 35px;
    height: 35px;
    border:solid 1px rgba(255,255,255,0.25);
    line-height: 35px;
    font-size: 16px;
    text-align: center;
}
.mmLanguage ul li:hover a{
    color: #deb527;
}
.mmSearch {
    position: relative;
    width: 100%;
    border:solid 1px rgba(255,255,255,0.2);
    pointer-events: auto;
    margin-bottom: 20px;
}
.mmSearch input {
    height: 50px;
    width: 100%;
    border: none;
    padding-left: 15px;
    background: #f8a02a;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    color:#ffffff;
}
.mmSearch input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
.mmSearch input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
.mmSearch button {
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    padding: 0;
    top: 50%;
    font-size: 20px;
    line-height: 28px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
}